.site-content {
  width: 90%;
  margin: 0 auto;
  padding: 40px 0;

  #type-page {
    display: grid;
    grid-template-columns: 1fr 2fr;

    .account-content {
      padding-left: 15px;
      grid-column: 2 / 4;

      .orders-table {
        width: 100%;
        border-collapse: collapse;
        font-size: 14px;

        tbody td {
          background: #f9f9f9;
        }

        .button-view:hover {
          color: #fff;
          background-color: #3e3e3e;
          border-color: #3e3e3e;
        }
      }
    }
  }
}

@media (max-width: 414px) {
  .site-content {
    padding: 0;
    margin-bottom: 40px;

    #type-page {
      display: block;

      .sidebar {
        margin-bottom: 40px;
        padding: 0;
      }

      .account-content {
        padding: 0;

        .orders-table {
          thead {
            display: none;
          }

          tbody {
            td {
              background-color: #f8f8f8;
              display: block;
              text-align: right;
              border: none;
              padding: 20px;

              &:before {
                content: attr(data-title) ': ';
                font-weight: 700;
                float: left;
                text-transform: uppercase;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
